@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
p {
  line-height: 1.4; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1.2rem;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  background-color: #EEE;
  color: #000; }

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #28517A;
  overflow-x: hidden;
  transition: 0.3s ease;
  padding: 60px 0 0 0;
  margin: 0 0 0 -250px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

#main {
  transition: margin-left .5s; }

img {
  max-width: 100%;
  max-height: 100%; }

blockquote {
  margin: 0;
  padding-left: 20px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #DDEEFF;
  border-left: 5px solid #28517A;
  font-size: 1.1rem; }

.text-shadow {
  text-shadow: 0 0 3px #000; }

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.fixed {
  top: 0;
  overflow: hidden;
  position: fixed;
  width: 100%; }

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #FFF;
  margin-top: 8px;
  margin-right: 12px;
  float: right; }

.header {
  z-index: -1;
  opacity: 0.93;
  background-color: #28517A;
  color: #000;
  height: 64px;
  font-size: 1.6rem; }

.header-background-container {
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("/assets/img/bg.jpg"); }

.center {
  max-width: 900px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto; }

.title-container {
  height: 200px;
  padding-top: 100px; }

.post-title {
  color: #FFD684;
  margin: 0;
  font-weight: 100;
  font-size: 4rem; }

.post-subtitle {
  color: #FF8484;
  font-weight: 100; }

.content-container {
  padding: 25px;
  margin-top: -120px;
  background-color: #FFF; }
  .content-container h1 {
    color: #28517A;
    padding-top: 15px; }

.post {
  height: 200px;
  background: white; }

.post-container {
  margin-top: 20px;
  padding: 25px;
  list-style-type: none; }

.post-list-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 300; }

h1.post-list-title a {
  text-decoration: none; }

h1:not(.post-title) {
  font-weight: 300;
  padding-bottom: 12px;
  border-bottom: 1px solid #28517A; }

#hamburger-button {
  z-index: 2;
  position: fixed;
  margin-left: 24px;
  margin-top: 24px;
  cursor: pointer;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.25s ease; }

#hamburger-button:hover {
  background-color: rgba(255, 255, 255, 0.1); }

#hamburger-container {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  transform: translateY(43%); }

#hamburger-container .hamburger {
  border-radius: 3px;
  margin: 0 auto;
  width: 100%;
  height: 4px;
  background-color: #FFF;
  margin: 8px 0; }

.material-icons.md-light {
  color: #EEE;
  font-size: 2rem; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }
